.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  width:41%;
  padding: 20px;
  color: white;
  margin: 20px;
  float: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.lock-button{
  font-size: large;
  font-style: bold;
  text-align: center;
  margin: 10px;
  padding: 10px;
  margin-top: 30px;
}

